.tree {
    font-size: 16px;
    overflow: auto;
}
.tree * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.tree ul {
    display: inline-flex;
}
.tree li {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0 1em;
    position: relative;
}
.tree li ul {
    margin: 2em 0;
}
.tree li li:before {
    border-top: 0.0625em solid #000;
    content: "";
    display: block;
    height: 0.0625em;
    left: -0.03125em;
    position: absolute;
    top: -1.03125em;
    width: 100%;
}
.tree li li:first-child:before {
    left: calc(50% - 0.03125em);
    max-width: calc(50% + 0.0625em);
}
.tree li li:last-child:before {
    left: auto;
    max-width: calc(50% + 0.0625em);
    right: calc(50% - 0.03125em);
}
.tree li li:only-child:before {
    display: none;
}
.tree li li:only-child > .tree-child:before {
    height: 1.0625em;
    top: -1.0625em;
}
.tree .tree-child,
.tree .tf-node-content {
    display: inline-block;
    position: relative;
}
.tree .tree-child:before,
.tree .tf-node-content:before {
    top: -1.03125em;
}
.tree .tree-child:after,
.tree .tree-child:before {
    border-left: 0.0625em solid #000;
    content: "";
    display: block;
    height: 1em;
    left: calc(50% - 0.03125em);
    position: absolute;
    width: 0.0625em;
}

.tree .tree-child:after {
    top: calc(100% + 0.03125em);
}
.tree .tree-child:only-child:after,
.tree > ul > li > .tree-child:before {
    display: none;
}
